.vs/

Log.txt
CodeMap1.dgml
Craftmine.VC.opendb
Craftmine.sdf
Craftmine.sln
Craftmine.vcxproj
Craftmine.vcxproj.filters
Craftmine.vcxproj.user

Debug/Chunk.obj
Debug/Chunk.sbr
Debug/Craftmine.Build.CppClean.log
Debug/Craftmine.bsc
Debug/Craftmine.ilk
Debug/Craftmine.log
Debug/Craftmine.pdb
Debug/Craftmine.exe
Debug/Craftmine.tlog/
Debug/Light.obj
Debug/Light.sbr
Debug/Player.obj
Debug/Player.sbr
Debug/Shader.obj
Debug/Shader.sbr
Debug/Sound.obj
Debug/Sound.sbr
Debug/System.obj
Debug/System.sbr
Debug/Text.obj
Debug/Text.sbr
Debug/Time.obj
Debug/Time.sbr
Debug/VBO.obj
Debug/VBO.sbr
Debug/camera.obj
Debug/camera.sbr
Debug/main.obj
Debug/main.sbr
Debug/vc140.idb
Debug/vc140.pdb

Dependencies/

build/

Base.lproj
Info.plist
*.obj
*.sbr
